/* 0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop */






* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

<<<<<<< HEAD
body {
    font-family: "PTSans-Regular",  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(32, 30, 30);
    color: white;
}

.main {
    text-align: center;
    /* width: 100%; */
}

.title {
    padding: 10px;
    font-size: 7vw;
}

#phrase {
    padding: 20px;
}

.tribute-info .info {
    width: 75vw;
    margin: 0 auto;
}

.tribute-info .info-title {
    padding: 20px;
}

.tribute-info .info-title h2 {
    font-size: 17px;
}

.ssr-image-wrap {
    background-color: white;
    width: 75vw;
    text-align: center;
    border-radius: 5%;
    margin: 0 auto;
}

.ssr-image-wrap #ssr-img {
    width: 65vw;
    padding: 15px;
}

ul li {
    padding: 15px;
    font-size: 14px;
    text-align: left;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: teal;
}

#name {
    position: relative;
    text-align: right;
}

#qoute {
    font-size: 15px;
}

#wiki {
    text-align: center;
    padding-top: 25px;
    font-size: 13px;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

@media screen and (min-width: 800px) {
    .title {
        font-size: 50px;
    }
    
    .tribute-info .info-title h2 {
        font-size: 28px;
    }

    ul li {
        font-size: 18px;
    }

    #wiki {
        font-size: 18px;
    }

    footer {
        font-size: 19px;
    }
}

@media screen and (min-width: 1300px){
    .ssr-image-wrap {
        width: 50vw;
    }

    .ssr-image-wrap #ssr-img {
        width: 40vw;
    }
    
}

=======
body{
    background-color: rgb(31, 29, 29);
    color: white;
}

.title{
    font-size:7vw;
}

.ssr-img{
    width: 100%;
    height: auto;
}


@media screen and (min-width: 600px) {
    .ssr-img{
        width: 80%;
        height: auto;
    }
    .ssr-img-wrap{
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    /* HUE HUE HUE */
}
>>>>>>> 96a2fe4958d393768136e449368a819ecddb0e9a
