* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 29, 29);
    color: white;
}

.title{
    font-size:7vw;
}

.ssr-img{
    width: 100%;
    height: auto;
}


@media screen and (min-width: 600px) {
    .ssr-img{
        width: 80%;
        height: auto;
    }
    .ssr-img-wrap{
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    /* HUE HUE HUE */
}